{% extends 'base.html' %}

{% block title %}
    <title>User login</title>
{% endblock %}

{% block content %}
<div class="main" align="center">
<h5>Enter your credentials below:</h5>
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div class="field">
        <label>Email address</label>
        <input type="text" name="email" placeholder="Enter your email address"/>
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password"/>

    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
</div>
{% endblock %}