{% extends 'base.html' %}
{% load static %}
{% block title %}

<title>My profile</title>
{% endblock %}

{% block content %}
<body>
<h2 class="main">Profile details</h2>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <img src="{{ request.user.profile.image_url }}" width="300px"  alt="profile image"/>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <strong>First name: {{ request.user.first_name }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <strong>Last name: {{ request.user.last_name }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <strong>Email: {{ request.user.email }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div style="color: white">
            <form method="post" action="{% url 'users:profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Upload" />
            </form>
        </div>
    </div>
</body>
{% endblock %}