{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Activities@MoonlitFarm</title>
{% endblock %}

{% block content %}

<h2 class="main">Our activities</h2>
<br>
<div>
    <ul>
        {% for activity in activity_list %}
            <li>
                <a href="{% url 'activities:details' activity.pk %}">{{ activity.name }}
                    <img src="{{ activity.main_image }}" width="400px">
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}