{% extends 'base.html' %}
{% load static %}


{% block title %}
<head>
    <title>Moonlit Farm</title>
    <link rel="stylesheet" href="{% static 'styles/about_page.css' %}">
</head>
{% endblock %}

{% block content %}
<div class="main">
  <h3 style="text-align:center">Our Team</h3>
  <div class="row">
    <div class="column" style="align:center">
      <div class="card">
        <img src="{% static 'images/Moi2.jpg' %}" alt="Alex" style="width:100%">
        <div class="container">
          <h2>Alex Florea</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me best. Soon.</p>
          <p>alexandru.floreaf1@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column" style="align:center">
      <div class="card">
        <img src="{% static 'images/Rockjaw.jpg' %}" alt="Rockjaw" style="width:90%">
        <div class="container">
          <h2>Rock Jaw</h2>
          <p class="title">Master at Arms</p>
          <p>Soon...</p>
          <p>yanevagonnacatchme@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column" style="align:center">
      <div class="card">
        <img src="{% static 'images/SirB.jpg' %}" alt="SirB" style="width:100%">
        <div class="container">
          <h2>Sir Bartolomei Steal-a-lot</h2>
          <p class="title">Chief Director</p>
          <p>All your treats are belong to us!!!</p>
          <p>yanevagonnacatchmeeither@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}