{% load static %}
{% load notifications %}
{% load cart %}

<link rel="stylesheet" href="{% static 'styles/menu.css' %}">

<div class="topnav">
    <nav>
        <a href="/">Homepage</a>
        <a href="{% url 'cows:all' %}">Our Esteemed Cows</a>
        <a href="{% url 'products:all' %}">Products</a>
        <a href="{% url 'activities:all' %}">Activities</a>
        <a href="{% url 'blogs:all' %}">Blog</a>


        <div class="topnav-right">
            <a href="{% url 'about' %}">About us</a>
            {% if request.user.is_authenticated %}
                {% cart_link request.session %}
                <div class="dropdown">
                    <button class="dropbtn">Welcome, {{ user.first_name }}! <img src="{{ request.user.profile.image_url }}" width="20px"  alt="profile image"></button>
                    <div class="dropdown-content">
                        <a href="{% url 'notifications:view_all' %}">Notifications ({{ request.user.notifications | unseen }})</a>
                        <a href="{% url 'users:profile' %}">My profile</a>
                        {% if request.user.is_superuser or request.user.is_staff %}
                            <a href="{% url 'admin:index' %}">Admin</a>
                        {% endif %}
                        <a href="{% url 'users:logout' %}">Logout</a>
                    </div>
                </div>

            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Register</a>
                <a href="{% url 'users:password_reset' %}">Forgot password?</a>
            {% endif %}
        </div>
    </nav>
</div>
